# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Mac
.DS_Store

# Docker
docker-compose.override.yml

# Project specific
neo4j_data/
logs/
__pycache__

# DB volumes
neo4j/data/*
neo4j/plugins/*